@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #333333;
  --background-dark: #e5e5e5;
  --background: #fff;
  --secondary: #e5e5e5;
  --primary: #9900ff;
  --accent: #9966ff;
}

.dark {
  --foreground: #fafafa;
  --background-dark: #303030;
  --secondary: #323232;
  --background: #2a272a;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: var(--foreground);
  background: linear-gradient(to bottom, transparent, var(--background))
    var(--background-dark);
}

.font-pixelify {
  font-family: 'Pixelify Sans', sans-serif;
}

#__next {
  height: 100%;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}
